
body{
	background-image:url("bg.png");
	background-blend-mode: screen;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: black;
	color: black;
}
h1{
	background-color:white;
	position: center;
	color: black;
	font-family: 'Pacifico', cursive;
	font-size: 75px;
	text-align: center;
	margin: 3in;
	margin-left: 4in;
	margin-right:4in;
	margin-top: 4in;
	padding: .2in;
	border:solid;
	border-size:8in;
	border-color:#6a00ff;
}
h2{
	background-color:white;
	color: black;
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	text-align: center;
	margin:3in;
	padding: .1in;
	border:solid;
	border-size:9in;
	border-color:#004aeb;
}
h3{
	background-color:white;
	color: black;
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	text-align: center;
	margin:1in;
	margin-left: 4in;
	margin-right:4in;
	padding: .1in;
	border:solid;
	border-size:9in;
	border-color:#00ffff;
}
h4{
	background-color:white;
	color: black;
	font-family: 'Pacifico', cursive;
	font-size: 45px;
	text-align: center;
	margin:1in;
	margin-left: 4in;
	margin-right:4in;
	padding: .1in;
	border:solid;
	border-size:9in;
	border-color:#d633ff;
}
p{
	background-color:white;
	color: black;
	border-width: .10in;
	border-style: double;
	font:DejaVu Sans Mono;
	font-family: monospace;
	font-size: 55;
	text-align: left;
	margin:1in;
	margin-left: 4in;
	margin-right: 4in;
	padding: 1in;
}
ul{
	list-style-type: none;
	text-align: center;
	font:DejaVu Sans Mono;
	font-size: 40;
	font-family: monospace;
	border-style: bold;
	border-size:3pt;
	border-color: #004aeb;

}	
li{
	background-color: white;
	color: #6a00ff;
	font-size: 40;
	border-style: bold;
	border-size:3pt;
	border-color: #004aeb;
	padding: .2in;
	margin:.9in;
	margin-left: 5.5in;
	margin-right:5.5in;
	text-align: center;

}
img{
	align-content: center;
	border-style: bold;
	border-size:3pt;
	border-color: #004aeb;
}

footer{
	background-color:black;
	color: white;
	font:DejaVu Sans Mono;
	font-size: 12pt;
	font-family: monospace;
	margin:.5;
}
div.video{
	float:left;
}
